/*//==== MISE EN PAGE & NAVIGATION ====*/
html {
    font-size: 16px;
}

body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed !important;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    margin: 0;
    padding: 0;
    top: 0;
    background-size: cover;
    background-image: url('../img/bg-green-90.jpg');
}


#headerIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: #ffffff99;
    /* Blur effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    /* Blur effect for Safari */
}

#headerImg {
    width: 40%;
    max-width: 300px;
}

/* Média requête pour les écrans de 768px et plus */
@media (min-width: 768px) {
    #headerImg {
        content: url('../img/bigBanner.png');
        max-width: 500px;
    }

    #headerIndex {
        height: 7rem;
    }

    #bg {
        background-image: url('../img/bg-green.jpg');
    }

    #ajouterBouton {
        background-color: #3f982c !important;
        border: 2px solid #3f982c !important;
        color: white !important;
    }

    #ajouterBouton:hover {
        color: #3f982c !important;
        background: white !important;
    }

}

#header {
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    backdrop-filter: blur(10px);
    background: #ffffff99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Blur effect for Safari */
}

.headerText {
    position: absolute;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
    top: 1rem;
}

.encart {
    /*Il s'agit du descriptif dans le header par exemple "dans le lieu: 'garage'"*/
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
    position: absolute;
    top: 3rem;
}






/*//==== BOUTONS ====*/
#headerBack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    left: 1rem;
    top: 1rem;
    font-size: 2rem;
    border: 2px solid #3f982c;
    color: white;
    cursor: pointer;
    background: #3f982c;
}

#headerHome {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    border: 2px solid rgb(6, 72, 110);
    color: white;
    cursor: pointer;
    background: rgb(6, 72, 110);
}

#headerBack:hover {
    color: #3f982c;
    background: white;
}

#headerHome:hover {
    color: rgb(6, 72, 110);
    background: white;
}

#ajouterBouton {
    color: white;
    font-size: 2rem;
    border: 2px solid #a8cd1c;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: #a8cd1c;
}

#ajouterBouton:hover {
    color: #a8cd1c;
    background: white;
}

#boutons {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.boutonHome {
    position: relative;
    width: 18rem;
    height: 5rem;
    margin: 0.5rem;
    font-size: 1.7rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
}

#lieuBouton {
    background: rgb(129, 16, 86);
}

#lieuBouton img {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 1rem;
}

#lieuBouton:hover {
    border: 4px solid rgb(129, 16, 86);
    color: rgb(129, 16, 86);
    background: white;
}

#emplacementBouton {
    color: white;
    background: rgb(6, 72, 110);
}

#emplacementBouton img {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 1rem;
}

#emplacementBouton:hover {
    background: white;
    border: 4px solid rgb(6, 72, 110);
    color: rgb(6, 72, 110);
}

#caisseBouton {
    background: rgb(13, 153, 67);
}

#caisseBouton img {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 1rem;
}

#caisseBouton:hover {
    background: white;
    color: rgb(13, 153, 67);
    border: 4px solid rgb(13, 153, 67);
}

#objetBouton {
    background: rgb(189, 134, 16);
}

#objetBouton img {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 1rem;
}

#objetBouton:hover {
    background: white;
    color: rgb(189, 134, 16);
    border: 4px solid rgb(189, 134, 16);
}

#themeBouton {
    background: rgb(90, 90, 90);
}

#themeBouton img {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 1rem;
}

#themeBouton:hover {
    background: white;
    color: rgb(90, 90, 90);
    border: 4px solid rgb(90, 90, 90);
}






/*//==== CHAMPS DE RECHERCHE ====*/
#rechercheConteneur {
    display: flex;
    justify-content: center;
}

#champsRecherche {
    width: 90%;
    height: 2rem;
    border: 1px solid #555555;
    border-radius: 1rem;
    margin-top: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    max-width: 50rem;
    background: #e6e6e6;
}

#conteneurResultats {
    display: none;
    justify-content: center;
    width: 100%;
}

#resultatsRecherche {
    position: absolute;
    z-index: 9999;
    background: white;
    width: 90%;
    box-sizing: border-box;
    max-width: 50rem;
    border: 1px solid #555555;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: #555555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    box-sizing: border-box;
    max-height: 25rem;
    overflow: auto;

}

.resultatItem {
    width: 90%;
    padding: 5%;
    border-bottom: 1px solid #555555;
    cursor: pointer;
}

.resultatItem:hover {
    background: #3f982c;
    color: white;
}

.descriptionRecherche {
    font-style: italic;
    font-size: 1rem;
    color: #555555;
    margin-left: 2.5rem;
    margin-top: 0.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






/*//==== MENU AJOUTER ====*/
.boite-dialogue {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Blur effect for Safari */
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    font-size: 1.5rem;
}

.boite-dialogue button {
    width: 50%;
    height: 3rem;
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
}

#popupBoutonLieu {
    background: rgb(129, 16, 86);
}

#popupBoutonLieu:hover {
    background: white;
    color: rgb(129, 16, 86);
    border: 3px solid rgb(129, 16, 86);
}

#popupBoutonEmplacement {
    background: rgb(6, 72, 110);
}

#popupBoutonEmplacement:hover {
    background: white;
    color: rgb(6, 72, 110);
    border: 3px solid rgb(6, 72, 110);
}

#popupBoutonCaisse {
    background: rgb(13, 153, 67);
}

#popupBoutonCaisse:hover {
    background: white;
    color: rgb(13, 153, 67);
    border: 3px solid rgb(13, 153, 67);
}

#popupBoutonObjet {
    background: rgb(189, 134, 16);
}

#popupBoutonObjet:hover {
    background: white;
    color: rgb(189, 134, 16);
    border: 3px solid rgb(189, 134, 16);
}

#popupBoutonTheme {
    background: rgb(90, 90, 90);
}

#popupBoutonTheme:hover {
    background: white;
    color: rgb(90, 90, 90);
    border: 3px solid rgb(90, 90, 90);
}





/*//==== FORMULAIRE AJOUT ====*/
.ajouterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labelForm {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
}

.inputForm {
    width: 60%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background: #e6e6e6;
    border: 1px solid #555555;
}

.editForm {
    border: 2px solid orange;
}

.required-label::after {
    content: ' *';
    color: red;
}



/*//==== BOUTON AJOUT LORS DE LA CREATION D'UN ELEMENT ====*/
#boutonAjoutConteneur,
#boutonSaveRemoveConteneur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.boutonAnnuler {
    border: 2px solid rgb(194, 43, 43);
    width: 40%;
    max-width: 20rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: rgb(194, 43, 43);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
    font-weight: normal;
}

.boutonAnnuler:hover {
    color: rgb(194, 43, 43);
    background: white;
}

.boutonAjouter {
    border: 2px solid rgb(29, 117, 29);
    width: 40%;
    max-width: 20rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: rgb(29, 117, 29);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
    font-weight: normal;
}

.boutonAjouterEdit {
    margin-right: 0;
}

.boutonAjouter:hover {
    color: rgb(29, 117, 29);
    background: white;
}







/*//==== LISTE ITEM  ====*/
.listeConteneur {
    display: flex;
    justify-content: center;
}

.itemList {
    width: 90%;
    max-width: 50rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}






/*//==== PAGE DE DETAIL ====*/
#photoObjet {
    cursor: pointer;
}

.photoDetail {
    border: 1px solid black;
    width: auto;
    height: 10rem;
    border-radius: 1rem;
    cursor: pointer;
}

#photoEditContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#resetPhotoButton {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.delete {
    border: 2px solid rgb(194, 43, 43);
    background: rgb(194, 43, 43);
    color: white;
}

.delete:hover {
    color: rgb(194, 43, 43);
    background: white;
}

.restore {
    border: 2px solid rgb(6, 72, 110);
    background: rgb(6, 72, 110);
    color: white;
}

.restore:hover {
    color: rgb(6, 72, 110);
    background: white;
}

#photoFileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
}

.photoEdit {
    border: 2px solid #e9ad13;
}

.fileName {
    text-align: center;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2rem;
    color: #555555;
}

.spanDetail {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    color: #555555;
    margin-left: 20%;
}

.otherDetail {
    border: none;
    background: #e6e6e6;
    border: 1px solid #555555;
    width: 60%;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-left: 20%;
}

#descriptionDetail {
    margin-bottom: 5rem;
}

#supprimerBoutonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#supprimerBouton {
    width: 50%;
    max-width: 20rem;
    border: 2px solid rgb(194, 43, 43);
    height: 2.5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(194, 43, 43);
    border-radius: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#supprimerBouton:hover {
    color: rgb(194, 43, 43);
    background: white;
}

#supprimerIcon {
    margin-right: 1rem;
}

.infosActuelles {
    width: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
    font-size: 1rem;
}








/*//==== FILTRE D'OBJETS ====*/
#filterBouton {
    color: white;
    font-size: 2rem;
    border: 2px solid rgb(6, 72, 110);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    background-color: rgb(6, 72, 110);
}

#filterBouton:hover {
    color: rgb(6, 72, 110);
    background: white;
}

#filterList {
    display: flex;
    position: fixed;
    flex-direction: column;
    color: #555555;
    font-size: 1.2rem;
    border: 2px solid #555555;
    border-radius: 1rem;
    background: white;
    bottom: 4.5rem;
    width: 15rem;
    left: 1rem;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#filterTitle {
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.filterItem {
    border-bottom: 1px solid #555555;
    padding: 1rem;
    cursor: pointer;
}

.filterItem:hover {
    background: #3f982c;
    color: white;
}

.separator {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
    font-size: 1.5rem;
    border-bottom: 1px solid #555555;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
}






/* //==== GERER L'AGRANDISSEMENT DE LA PHOTO ====*/
#photoAgrandieContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    left: 0;
}

#photoAgrandieContainer img {
    max-width: 90%;
    max-height: 90%;
}

#closePhotoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    border: 2px solid rgb(194, 43, 43);
    background: rgb(194, 43, 43);
    border-radius: 50%;
    cursor: pointer;
}

#closePhotoButton:hover {
    color: rgb(194, 43, 43);
    background: white;
}


/*//==== VIGNETTE LIEU ====*/
.vignetteListContainerLieu {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(129, 16, 86);
    width: 90%;
    max-width: 50rem;
    border-radius: 1rem;
    height: 6rem;
    overflow: hidden;
    margin-bottom: 2rem;
    cursor: pointer;
}

.vignetteListContainer:hover {
    box-shadow: 5px 5px 10px #888888;
}

.vignetteListNameLieu {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 1.5rem;
    background: linear-gradient(122deg, rgb(255, 158, 218), rgb(129, 16, 86));
    border-bottom: 1px solid #555555;
    color: black;
    padding-left: 0.5rem;
    position: relative;
}

.vignetteListDetail {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
    width: 100%;
    align-self: center;
    background: white;
}

.vignetteLieuDetailGauche {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-right: 1px solid #555555;
    cursor: pointer;
}

.vignetteLieuDetailGauche:hover {
    background: linear-gradient(122deg, rgb(158, 220, 255), rgb(6, 72, 110));
    color: black;
}

.vignetteLieuDetailMilieu {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-right: 1px solid #555555;
    cursor: pointer;
}

.vignetteLieuDetailMilieu:hover {
    color: black;
    background: linear-gradient(122deg, rgb(158, 255, 197), rgb(13, 153, 67));
}

.vignetteLieuDetailDroite {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.vignetteLieuDetailDroite:hover {
    color: black;
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
}






/*//==== VIGNETTE EMPLACEMENT ====*/
.vignetteListContainerEmplacement {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(6, 72, 110);
    width: 90%;
    max-width: 50rem;
    border-radius: 1rem;
    height: 6rem;
    overflow: hidden;
    margin-bottom: 2rem;

}

.vignetteListNameEmplacement {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 1.5rem;
    background: linear-gradient(122deg, rgb(158, 220, 255), rgb(6, 72, 110));
    border-bottom: 1px solid #555555;
    color: black;
    padding-left: 0.5rem;
    position: relative;
}

.vignetteEmplacementDetailGauche {
    width: 50%;
    height: 100%;
    margin-left: 5px;
    border-right: 1px solid #555555;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
}


.vignetteEmplacementDetailMilieu {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-right: 1px solid #555555;
    cursor: pointer;
}

.vignetteEmplacementDetailMilieu:hover {
    color: black;
    background: linear-gradient(122deg, rgb(158, 255, 197), rgb(13, 153, 67));
}

.vignetteEmplacementDetailDroite {
    width: 25%;
    padding-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vignetteEmplacementDetailDroite:hover {
    color: black;
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
}







/*//==== VIGNETTE CAISSE ====*/
.vignetteListContainerCaisse {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(13, 153, 67);
    width: 90%;
    max-width: 50rem;
    border-radius: 1rem;
    height: 7rem;
    overflow: hidden;
    margin-bottom: 2rem;

}

.vignetteListNameCaisse {
    display: flex;
    align-items: center;
    height: 40%;
    font-size: 1.5rem;
    background: linear-gradient(122deg, rgb(158, 255, 197), rgb(13, 153, 67));
    /*background: linear-gradient(122deg, #3f982c, #e5f205);*/
    border-bottom: 1px solid #555555;
    color: black;
    padding-left: 0.5rem;
    position: relative;
}

.vignetteDetailMaster {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.vignetteListDetailCaisse {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    align-self: center;
    background: white;
    font-size: 1.1rem;

}

.vignetteListDetailBisCaisse {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 25%;
    align-self: center;
    background: white;
    border-left: 1px solid #555555;
    cursor: pointer;
}

.vignetteListDetailBisCaisse:hover {
    color: black;
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
}

.vignetteCaisseDetailGauche {
    height: 50%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555555;
    padding-left: 0.5rem;
}

.vignetteCaisseDetailMilieu {
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}


.vignetteCaisseDetailDroite {}







/*//==== VIGNETTE OBJET ====*/
#objetsListe {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 70rem;
    height: auto;
    justify-content: center;
}

.vignetteListContainerObjet {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(189, 134, 16);
    width: 90%;
    max-width: 50rem;
    border-radius: 1rem;
    height: 15rem;
    overflow: hidden;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vignetteListNameObjet {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 1.5rem;
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
    /*background: linear-gradient(122deg, #3f982c, #e5f205);*/
    border-bottom: 1px solid #555555;
    color: black;
    padding-left: 0.5rem;
    position: relative;
}

#editButton {
    color: white;
    font-size: 1.5rem;
    border: 2px solid #ea6026;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ea6026;
    margin-left: 5rem;
    position: absolute;
    right: 1rem;
}

#editButton:hover {
    color: #ea6026;
    background: white;
}

.vignetteDetailMasterObjet {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.vignetteDetailPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    background: white;
}

.vignetteDetailPhoto {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.vignetteListDetailObjet {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    align-self: center;
    background: white;
    font-size: 1.1rem;
    border-left: 1px solid #555555;
}

.vignetteObjetDetailHaut {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555555;
    height: 25%;
    padding-left: 0.1rem;

}

.vignetteObjetDetailMilieu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555555;
    height: 25%;
    padding-left: 0.1rem;
}

.vignetteObjetDetailBas {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555555;
    height: 25%;
    padding-left: 0.1rem;
}

.vignetteDetailObjetBasBas {
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 0.1rem;
}

.vignetteListDetailBisObjet {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 10%;
    align-self: center;
    background: white;
    border-left: 1px solid #555555;

}

.vignetteObjetQuantite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vignetteDetailObjetDescription {
    background: white;
    border-top: 1px solid #555555;
    height: 30%;
    font-style: italic;
    padding-left: 0.5rem;
    color: #555555;
}






/*//==== VIGNETTE THEMES ====*/
.vignetteListContainerTheme {
    display: flex;
    flex-direction: column;
    border: 2px solid #555555;
    width: 90%;
    max-width: 50rem;
    border-radius: 1rem;
    height: 6rem;
    overflow: hidden;
    margin-bottom: 2rem;
    cursor: pointer;
}

.vignetteListNameTheme {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 1.5rem;
    background: linear-gradient(122deg, #efefef, #555555);
    /*background: linear-gradient(122deg, #3f982c, #e5f205);*/
    border-bottom: 1px solid #555555;
    color: black;
    padding-left: 0.5rem;
    position: relative;
}

.vignetteListDetailTheme {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
    width: 100%;
    align-self: center;
    background: white;
}

.vignetteListDetailTheme:hover {
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
    color: black;
}

.vignetteThemeDetailBas {
    width: 25%;
    margin-left: 5px;
}






/*// DETAIL VIGNETTE */
.detailCardContainer {
    background: #ffffff;
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 3rem auto 0 auto;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 3rem;
}

.detailCardContainer.lieux {
    border: 2px solid rgb(129, 16, 86);
}

.detailCardContainer.emplacements {
    border: 2px solid rgb(6, 72, 110);
}

.detailCardContainer.caisses {
    border: 2px solid rgb(13, 153, 67);
}

.detailCardContainer.objets {
    border: 2px solid rgb(189, 134, 16);
}

.detailCardContainer.themes {
    border: 2px solid #555555;
}

.detailHeaderCard {
    position: relative;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 0.5rem;
}

.detailHeaderCard.lieux {
    background: linear-gradient(122deg, rgb(255, 158, 218), rgb(129, 16, 86));
}

.detailHeaderCard.emplacements {
    background: linear-gradient(122deg, rgb(158, 220, 255), rgb(6, 72, 110));
}

.detailHeaderCard.caisses {
    background: linear-gradient(122deg, rgb(158, 255, 197), rgb(13, 153, 67));
}

.detailHeaderCard.objets {
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
}

.detailHeaderCard.themes {
    background: linear-gradient(122deg, #efefef, #555555);
}


.nameDetail {
    display: flex;
    align-items: center;
}

.showEmplacements {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-bottom: 1px solid #555555;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.showEmplacements:hover {
    background: linear-gradient(122deg, rgb(158, 220, 255), rgb(6, 72, 110));
}

.showCaisses {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-bottom: 1px solid #555555;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.showCaisses:hover {
    background: linear-gradient(122deg, rgb(158, 255, 197), rgb(13, 153, 67));
}

.showObjets {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.showObjets:hover {
    background: linear-gradient(122deg, rgb(255, 225, 159), rgb(189, 134, 16));
}

.numDetail {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid #555555;
    margin-right: 1rem;
}

.photoDetailContainerBis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #555555;
}

.photoBis {
    max-width: 10rem;
    max-height: 10rem;
    cursor: pointer;
    border-radius: 1rem;
}

.photoBis:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.detailObjet {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555555;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
}



.descriptionObjet {
    width: 100%;
    height: auto;
    min-height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #555555;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}